<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>

</head>
<body ng-controller="stageCtrl">

  <div class="main" ng-switch="step">

    <div ng-switch-when="1" ng-controller="userStepCtrl">

      <form name="demographics" class="fields">

          <label>
            Gender:
            <select ng-model="user.gender">
              <option>-- Select one --</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </label>

          <label>
            Age Range:
            <select ng-model="user.ageRange">
              <option>-- Select one --</option>
              <option value="<10">&lt;10</option>
              <option value="10-19">10-19</option>
              <option value="20-29">20-29</option>
              <option value="30-39">30-39</option>
              <option value="40-49">40-49</option>
              <option value="50+">50+</option>
            </select>
          </label>

          <button ng-click="advance()" ng-disabled="demographics.$invalid">Next step</button>

        </form><!-- demographics -->

    </div><!-- userStepCtrl -->

    <div ng-switch-when="2" ng-controller="surveyStepCtrl">

        <h4>{{survey.title}}</h4>
        <p>Awesome, now for a few quick questions:</p>

        <form name="surveyQuestions" class="fields">

          <div class="question" ng-repeat="question in questionsForUser">

            <p class="text">{{question.questionText}}</p>

            <label ng-repeat="option in question.options">
              <input type="radio" ng-model="user.surveyAnswers[question.id]" ng-value="option">{{option}}
            </label>

          </div><!-- .question -->

          <button ng-click="advance()" ng-disabled="surveyQuestions.$invalid">Submit</button>

        </form><!-- surveyQuestions -->

    </div><!-- surveyStepCtrl -->

    <div ng-switch-when="3" ng-controller="resultsStepCtrl">

      <p>Great, thanks. Here are the results so far:</p>
      <div ng-repeat="result in surveyResults">

        <div bar-chart="result"></div>

      </div>

    </div><!-- .resultsStepCtrl -->

  </div><!-- .main -->

  <div class="debug" ng-controller="debugCtrl">

    <h3>User</h3>
    <pre ng-bind="user | json"></pre>
    <h3>Results</h3>
    <pre ng-bind="results | json"></pre>

  </div><!-- debugCtrl -->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
